:root { --color-neutral: 255, 255, 255;
    --color-neutral-50:     255,255,255;
    --color-neutral-100:    255,255,255;
    --color-neutral-200:    232,234,232;
    --color-neutral-300:    191,198,193;
    --color-neutral-400:    151,161,155;
    --color-neutral-500:    112,124,116;
    --color-neutral-600:    93,103,96;
    --color-neutral-700:    73,81,76;
    --color-neutral-800:    54,60,56;
    --color-neutral-900:    35,38,36;
    --color-primary-50:     248,246,248;
    --color-primary-100:    212,202,216;
    --color-primary-200:    177,157,184;
    --color-primary-300:    141,113,152;
    --color-primary-400:    101,79,109;
    --color-primary-500:    60,47,65;
    --color-primary-600:    38,30,41;
    --color-primary-700:    16,13,18;
    --color-primary-800:    0,0,0;
    --color-primary-900:    0,0,0;
    --color-secondary-50:     255,255,255;
    --color-secondary-100:    255,255,255;
    --color-secondary-200:    255,255,255;
    --color-secondary-300:    255,255,255;
    --color-secondary-400:    255,255,255;
    --color-secondary-500:    252,250,242;
    --color-secondary-600:    244,237,209;
    --color-secondary-700:    237,225,176;
    --color-secondary-800:    229,212,143;
    --color-secondary-900:    221,199,109;
    }