:root { --color-neutral: 255, 255, 255;
    --color-neutral-50:     248,249,249;
    --color-neutral-100:    209,212,209;
    --color-neutral-200:    169,176,170;
    --color-neutral-300:    129,139,131;
    --color-neutral-400:    92,100,93;
    --color-neutral-500:    55,60,56;
    --color-neutral-600:    35,39,36;
    --color-neutral-700:    16,17,16;
    --color-neutral-800:    0,0,0;
    --color-neutral-900:    0,0,0;
    --color-primary-50:     255,255,255;
    --color-primary-100:    255,255,255;
    --color-primary-200:    245,245,245;
    --color-primary-300:    206,206,206;
    --color-primary-400:    168,168,168;
    --color-primary-500:    130,130,130;
    --color-primary-600:    110,110,110;
    --color-primary-700:    89,89,89;
    --color-primary-800:    69,69,69;
    --color-primary-900:    48,48,48;
    --color-secondary-50:     255,255,255;
    --color-secondary-100:    255,255,255;
    --color-secondary-200:    232,234,232;
    --color-secondary-300:    191,198,193;
    --color-secondary-400:    151,161,155;
    --color-secondary-500:    112,124,116;
    --color-secondary-600:    93,103,96;
    --color-secondary-700:    73,81,76;
    --color-secondary-800:    54,60,56;
    --color-secondary-900:    35,38,36;
    }