:root { --color-neutral: 255, 255, 255;
    --color-neutral-50:     255,255,255;
    --color-neutral-100:    255,255,255;
    --color-neutral-200:    230,229,227;
    --color-neutral-300:    194,190,187;
    --color-neutral-400:    158,151,147;
    --color-neutral-500:    120,113,108;
    --color-neutral-600:    99,93,89;
    --color-neutral-700:    77,73,69;
    --color-neutral-800:    56,52,50;
    --color-neutral-900:    34,32,31;
    --color-primary-50:     193,210,219;
    --color-primary-100:    145,174,191;
    --color-primary-200:    96,138,163;
    --color-primary-300:    67,98,116;
    --color-primary-400:    39,57,67;
    --color-primary-500:    11,16,19;
    --color-primary-600:    0,0,0;
    --color-primary-700:    0,0,0;
    --color-primary-800:    0,0,0;
    --color-primary-900:    0,0,0;
    --color-secondary-50:     255,255,255;
    --color-secondary-100:    255,255,255;
    --color-secondary-200:    253,233,230;
    --color-secondary-300:    246,171,160;
    --color-secondary-400:    240,109,89;
    --color-secondary-500:    232,48,21;
    --color-secondary-600:    195,40,18;
    --color-secondary-700:    157,33,14;
    --color-secondary-800:    120,25,11;
    --color-secondary-900:    82,17,7;
    }